/* src/App.css */

@tailwind base;
@tailwind components;
@tailwind utilities;


/* hide scrollbar but allow scrolling */
html {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

html::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

body {
  background-image: url('assets/bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position:unset;
  height: 100vh
}

.App {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}


.chat-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 20px 0;
  max-height: 400px;
  overflow-y: auto;
}

.message {
  margin: 10px 0;
}

.message.professor {
  text-align: right;
  background-color: #d1e7dd;
}

.message.student {
  text-align: left;
  background-color: #cff4fc;
}

form {
  display: flex;
  justify-content: space-between;
}

form input {
  flex: 1;
  margin-right: 10px;
}
